@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome to Dr. SillyStringz's Factory Maintenance Management Application</h1>

<h4> To add, view details of, edit or delete machines or engineers use the following pages:
<p>@Html.ActionLink("Machines Page", "Index", "Machines")</p>
<p>@Html.ActionLink("Engineers Page", "Index", "Engineers")</p>

<hr />

@if (@ViewBag.EngineerList.Count == 0)
{
  <h3>No engineers have been added yet!</h3>
} 

@foreach (Engineer engineer in @ViewBag.MachineList)
{
  <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
}

@if (@ViewBag.MachineList.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 

@foreach (Machine machine in @ViewBag.MachineList)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
}